body
{
  background-image: url("../images/marveldc2.jpg");
  background-position: center center;
  background-size: 100%;
  justify-content: center;
  align-content: center;
}

nav
{
	text-shadow: .5px .5px #000000;
}

.navbar
{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.center
{
  text-align: center;
  background: #d8d8d8;
  margin-top: 3.9%;
  margin-left: 7%;
  margin-right: 7%;
  height: 1100px;;
}

.center_h_left
{
  float: left;
  width: 45%;
  height: 610px;
  margin-left: 1%;
}

.center h1
{
  text-align: left;
  margin-left: 1%;
}

p
{
  text-align: left;
  text-indent: 30px;
  margin: 1%;
  line-height: 2.1;
}

.center_gallery
{
  justify-content: center;
  align-self: center;
  background: #d8d8d8;
  height: 1100px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.gallery_image
{
  border: 3px solid black;
  width: 335px;
  height: 500px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.gallery_image img
{
  padding: 0%;
  width: 100%;
  height: 85%;
}

.gallery_txt
{
  border: 2px solid black;
  margin: 0;
  text-align: center;
}
.gallery_description
{
  margin: 2%;
  text-align: center;
}

footer
{
  text-align: center;
  height: 25px;
  width: 100%;
  color: #ffffff;
  background: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
}
